<!DOCTYPE html>
<html lang="en">
<script></script>
<head>
    <title>A simple HTML document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <script type="module">
        import { rotateImage,createImage,displayRoatedImage } from '../../public/js/RotateImage.js'
        let canvasValue
        document.getElementById('createImageButton').addEventListener('click',function() {
            let canvas = document.getElementById('canvas');
            const context = canvas.getContext('2d');
            context.clearRect(0, 0, canvas.width, canvas.height);
            let width = document.getElementById('width').value
            let height = document.getElementById('height').value
            if(width === ""){
                document.getElementById('errorMessage').innerText = "Please enter a valid Width"
            }else if(height === ""){
                document.getElementById('errorMessage').innerText = "Please enter a valid Height"
            }
            else if(width < 1 || width > 400 || height < 1 || height > 400 ){
                document.getElementById('errorMessage').innerText = "Width or height should be in the range 1 - 400 "
            }else{
                canvasValue = createImage(width,height)
            }   
        },false);
        document.getElementById('rotateImageButton').addEventListener('click',function() {
            let canvas = document.getElementById('rotatedImage');
            const context = canvas.getContext('2d');
            context.clearRect(0, 0, canvas.width, canvas.height);
            console.log(canvasValue)
            let angle = document.getElementById('angle').value
            console.log(angle)
            angle = Number(angle)
            var t0 = performance.now();
            const rotatedImage = rotateImage(canvasValue,angle);
            var t1 = performance.now();
            if(rotatedImage === undefined){
                document.getElementById('errorMessage').innerText = "Invalid Angle.Angle must be any of these values [ 0,90,180,270,360,-90,-180,-270 ]"
            }else{
                console.log(rotatedImage)
                displayRoatedImage(rotatedImage)
            }
            const timeDifference = (t1 - t0).toFixed(4) 
            document.getElementById('performance').innerText = 'Took ' +timeDifference+ ' milliseconds to generate rotated image'
        },false);
    </script>
    <div class="container">
        <div class="row m-4">
            <div class="col-md-10">
                <h2> Accenture - Rotate Image use case </h2>
            </div>
        </div>
        <div class="row m-3">
            <div class="col-md-1">Width</div>
            <div class="col-md-2">
                <div class="input-group">
                    <input type="text" class="form-control" id="width" placeholder="Enter width">
                </div>
            </div>
            <div class="col-md-1">Height</div>
            <div class="col-md-2">
                <div class="input-group">
                    <input type="text" class="form-control" id="height" placeholder="Enter height">
                </div>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary" id="createImageButton">Create Image</button>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <input type="text" class="form-control" id="angle" placeholder="Enter Angle">
                </div>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary" id="rotateImageButton">Rotate Image</button>
            </div>
        </div>
        <div class="row m-3">
            <div class="col-md-12" id="errorMessage" style="color:red"></div>
        </div>
        <div class="row m-3">
            <div class="col-md-6">
                <p>Original Image</p>
                <canvas id="canvas" width="400" height="400" style="border:3px solid"></canvas>
            </div>
            <div class="col-md-6">
                <p>Rotated Image</p>
                <canvas id="rotatedImage" width="400" height="400" style="border:3px solid"></canvas>
            </div>
        </div>
        <div class="row m-3">
            <div class="col-md-12" id="performance" style="color:red"></div>
        </div>
    </div>
   
    <!-- <p>Original Image</p>
    <canvas id="canvas" width="200" height="200" style="border:3px solid"></canvas>
    <p>Rotated Image</p> 
    <canvas id="rotatedImage" width="200" height="200" style="border:3px solid"></canvas> -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
</body>
</html>
